<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link href='/webjars/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet'>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css"></linkrel>

    <script src="/webjars/axios/0.19.0/dist/axios.min.js"></script>
    <script src="/webjars/vue/2.6.11/vue.min.js"></script>
</head>

<body>
    <div class="page-header">
        <div class="row">
            <div class="col-md-3">
                <h1 style="margin-left: 50px">
                    <a href="#" class="router-link-active">
                        <span class="logo-name">Alexzander</span>
                    </a>
                </h1>
            </div>
            <div class="col-md-6" style="margin-top: 20px">
                <div class="navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="车票/订单/...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">搜索</button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="col-md-3" style="margin-top: 15px ; padding-left: 50px">
                <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a href="#">个人中心</a></li>
                    <li role="presentation"><a href="#">登录</a></li>
                    <li role="presentation"><a href="#">注册</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="SearchTrip">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6" id="search-form">

                <h2 style="text-align: center;">查询车票</h2>
                <div class="form-group">
                    <label class="col-md-3 control-label">出发地</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" v-model="start_station">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">目的地</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" v-model="end_station">
                    </div>
                </div>
                <div class="form-group">
                    <label for="date" class="col-md-3 control-label">日期</label>
                    <div class="col-md-6">
                        <input type="date" class="form-control" id="date" v-model="start_time">
                    </div>
                </div>
                <div class="form-group" style="padding-left: 350px;">
                    <div class="col-md-2" style="text-align: center;">
                        <button type="submit" class="btn btn-warning" @click="getTrips">查询</button>
                    </div>
                </div>
        </div>

    </div>
    </div>
    <hr />
    <div class="row" id="news">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="./image/logo.png" alt="...">
                <p class="new-name">“环西部火车游”高品质旅游版高品质列车</p>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="./image/logo.png" alt="...">
                <p class="new-name">“环西部火车游”高品质旅游版高品质列车</p>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="./image/logo.png" alt="...">
                <p class="new-name">“环西部火车游”高品质旅游版高品质列车</p>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="./image/logo.png" alt="...">
                <p class="new-name">“环西部火车游”高品质旅游版高品质列车</p>
            </a>
        </div>
    </div>
   <script>
        new Vue({
            el: "#SearchTrip",
            data() {
                return {
                    start_station: "",
                    end_station: "",
                    start_time:"",
                }
            },
            methods: {
                //修改信息
                getTrips:function () {
                    axios.get("http://localhost:8080/api/gettrip")
                        .then(response => {
                            var start=this.start_station;
                            var end=this.end_station;
                            var time=this.start_time;
                            var createNewTab = window.open('about:blank', '_blank');
                            setTimeout(function() {
                                createNewTab.location.href = "/search?start="+start+"&end="+end+"&starttime="+time;
                        }, 100);
                        })
                  }
                }

        });
    </script>
    <style>
        #search-form {
            border: 1px solid blueviolet;
        }

        #news {
            padding: 20px;
        }

        .new-name {
            margin-top: 10px;
            text-align: center;
        }
    </style>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<!--    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

    <br>

</body>

</html>
