<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>登录界面</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>


        .mainbody{
            background-repeat: no-repeat;
            background:url("/static/picture/railway.jpg") ;
            background-attachment: fixed;
            background-size: 100% 100%;
        }

    </style>
</head>
<body>
<br>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-2" >
        <img src="/static/picture/smallrailway.jpg" style="width: 100px;height:100px;float: left">
        <p style="margin-top: 10px;font-size: 25px;font-weight: bold">中国铁路</p>
        <p style="margin-bottom: 10px;font-size: 15px">CHINA &nbsp; RAILWAY</p>
    </div>
    <div class="col-md-3">
        <span style="display: block;font-size: 25px;margin-top: 20px;margin-left: 10px">欢迎登录中国铁路</span>
    </div>

</div>

<br>



<div class="mainbody">
    <br><br><br><br>
    <div class="row ">
        <div class="col-md-7">

        </div>



        <div class="col-md-4">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title" style="text-align: center">登录</h1>
                </div>
                <br>
                <br>


                <form id="login_" method="post"  th:action="@{admin/login}" >
                    <div class="input-group input-group-lg" style="margin-left: 20px;margin-right: 20px;">
                        <span class="input-group-addon" id="basic-addon1">账号</span>
                        <input name="username" type="text" class="form-control" placeholder="账户" aria-describedby="basic-addon1">
                    </div>
                    <br>
                    <br>

                    <div class="input-group  input-group-lg" style="margin-left: 20px;margin-right: 20px;">
                        <span class="input-group-addon" id="basic-addon">密码</span>
                        <input name="password" type="password" class="form-control" placeholder="密码" aria-describedby="basic-addon1">
                    </div>
                    <br>


                    <div style="text-align: center">
                        <button type="submit" class="btn btn-primary btn-lg" style="margin: 25px"   >登录</button>
                        <a th:href="@{/register}"><button type="button" class="btn btn-primary btn-lg" style="margin: 25px"   >注册</button></a>


                    </div>
                </form>



            </div>

        </div>


    </div>
    <br><br><br><br>
</div>

<script type="text/javascript">



</script>

</body>
</html>