<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>个人中心</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="page-header">
    <div class="row">
        <div class="col-md-3">
            <h1 style="margin-left: 50px">
                <a href="#" class="router-link-active">
                    <span class="logo-name">Alexzander</span>
                </a>
            </h1>
        </div>
        <div class="col-md-6" style="margin-top: 20px">
            <div class="navbar-search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="车票/订单/...">
                    <span class="input-group-btn">
                            <button class="btn btn-default" type="button">搜索</button>
                        </span>
                </div><!-- /input-group -->
            </div>
        </div>
        <div class="col-md-3" style="margin-top: 15px ; padding-left: 50px" th:unless="${names}">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#" th:href="@{/pcenter}">个人中心</a></li>
                <li role="presentation"><a href="#" th:href="@{/login}">登录</a></li>
                <li role="presentation"><a href="#" th:href="@{/register}">注册</a></li>
            </ul>
        </div>

        <div class="col-md-3" style="margin-top: 15px ; padding-left: 50px"  th:if="${names}">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#" th:href="@{/pcenter}">个人中心</a></li>
                <img th:src="@{/static/picture/userimg.jpg}"  style="float: left;width: 50px;height: 50px;margin-left: 20px;margin-top: -5px">
                <li role="presentation" ><a href="#" th:text="${names}"></a></li>
                <li role="presentation" onclick="logout()"><a href="#" >注销</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="main-tap">
    <div class="row">
        <div class="col-md-2" id="tableft">
            <ul class="nav nav-pills tab-title" id="myTab">
                <li class="active"><a href="#ordermanage" data-toggle="tab">订单信息</a></li>
                <li><a href="#personalmanage" data-toggle="tab">个人信息</a></li>
                <li><a href="#infomanage" data-toggle="tab">乘车信息</a></li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="tab-content tab_cont">
                <!--1-->
                <div class="tab-pane tab_menu"  id="ordermanage">
                    <div class="tabbable" style="margin: 3px;">
                        <ul class="nav nav-pills tab-sectitle" id="divstyletab">
                            <li class="active"><a href="#tab11" data-toggle="tab">未支付订单</a></li>
                            <li><a href="#tab12" data-toggle="tab">未出行订单</a></li>
                            <li><a href="#tab13" data-toggle="tab">历史订单</a></li>
                        </ul>
                        <div class="tab-content tab_seccont">
<!--                            &lt;!&ndash; 第一个tab &ndash;&gt;-->
                            <div class="tab-pane tab_secmenu  " id="tab11">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>车次</th>
                                        <th>乘客姓名</th>
                                        <th>座位号</th>
                                        <th>车票价格</th>
                                        <th>起点/目的车站</th>
                                        <th>入站/抵达时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="type2 : ${notpaypage.content}">
                                        <td th:text="${type2.trainnum}"></td>
                                        <td th:text="${type2.namelist}"></td>
                                        <td th:text="${type2.seat}"></td>
                                        <td th:text="${type2.price}"></td>
                                        <td th:text="${type2.startstation}+'/'+${type2.endstation}"></td>
                                        <td th:text="${type2.depaturetime}"></td>
                                        <td>
                                            <a th:href="@{/pcenter/{id}/returnticket(id=${type2.id})}"> <button type="button" class="btn btn-danger">退票</button></a>
                                            <a th:href="@{/pay/{id}(id=${type2.id})}"> <button type="button" class="btn btn-warning">支付</button></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th colspan="6" th:if="${notpaypage.totalPages}>1">
                                            <div class="ui mini pagination menu" >
                                                <a th:href="@{/pcenter(page4=${notpaypage.number}-1)}" class=" item" th:unless="${notpaypage.first}">上一页</a>
                                                <a th:href="@{/pcenter(page4=${notpaypage.number}+1)}" class="item" th:unless="${notpaypage.last}">下一页</a>
                                            </div>
                                            <!--                                        <a href="#" th:href="@{/pcenter/contact/input}"  class="ui mini right floated teal basic button">新增</a>-->
                                        </th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
<!--                            &lt;!&ndash; 第二个tab &ndash;&gt;-->
                            <div class="tab-pane tab_secmenu" id="tab12">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>车次</th>
                                        <th>乘客姓名</th>
                                        <th>座位号</th>
                                        <th>车票价格</th>
                                        <th>起点/目的车站</th>
                                        <th>入站/抵达时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="type1 : ${notgopage.content}">
                                        <td th:text="${type1.trainnum}"></td>
                                        <td th:text="${type1.namelist}"></td>
                                        <td th:text="${type1.seat}"></td>
                                        <td th:text="${type1.price}"></td>
                                        <td th:text="${type1.startstation}+'/'+${type1.endstation}"></td>
                                        <td th:text="${type1.depaturetime}"></td>
                                        <td>
                                            <a th:href="@{/pcenter/{id}/returnticket(id=${type1.id})}"><button type="button" class="btn btn-danger">退票</button></a>
                                            <button type="button" class="btn btn-warning">改签</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th colspan="6" th:if="${notgopage.totalPages}>1">
                                            <div class="ui mini pagination menu" >
                                                <a th:href="@{/pcenter(page1=${notgopage.number}-1)}" class=" item" th:unless="${notgopage.first}">上一页</a>
                                                <a th:href="@{/pcenter(page1=${notgopage.number}+1)}" class="item" th:unless="${notgopage.last}">下一页</a>
                                            </div>
                                            <!--                                        <a href="#" th:href="@{/pcenter/contact/input}"  class="ui mini right floated teal basic button">新增</a>-->
                                        </th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
<!--                            &lt;!&ndash; 第三个tab &ndash;&gt;-->
                            <div class="tab-pane  tab_secmenu" id="tab13">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>车次</th>
                                        <th>乘客姓名</th>
                                        <th>座位号</th>
                                        <th>车票价格</th>
                                        <th>起点/目的车站</th>
                                        <th>入站/抵达时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="type2 : ${completepage.content}">
                                    <td th:text="${type2.trainnum}"></td>
                                    <td th:text="${type2.namelist}"></td>
                                    <td th:text="${type2.seat}"></td>
                                    <td th:text="${type2.price}"></td>
                                    <td th:text="${type2.startstation}+'/'+${type2.endstation}"></td>
                                    <td th:text="${type2.depaturetime}"></td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th colspan="6" th:if="${completepage.totalPages}>1">
                                            <div class="ui mini pagination menu" >
                                                <a th:href="@{/pcenter(page3=${completepage.number}-1)}" class=" item" th:unless="${completepage.first}">上一页</a>
                                                <a th:href="@{/pcenter(page3=${completepage.number}+1)}" class="item" th:unless="${completepage.last}">下一页</a>
                                            </div>
                                            <!--                                        <a href="#" th:href="@{/pcenter/contact/input}"  class="ui mini right floated teal basic button">新增</a>-->
                                        </th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- 中间图表结束 -->
                        </div>
                    </div>
                </div>
                <!-- 2 -->
                <div class="tab-pane tab_menu" id="personalmanage">
                    <div class="panel panel-info">
                        <!-- Default panel contents -->
                        <div class="panel-heading" style="height: 60px;">
                            <div style="margin-top: 10px; width: 100px; float: left;">用户信息</div>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myInfoEdit" style="float: right;"
                             th:onclick="editinfo([[${names}]],[[${realname}]],[[${types}]],[[${personIds}]],[[${phonenums}]])">编辑</button>
                        </div>
                        <div class="info-body">
                            <div class="info-item row">
                                <div class="info-label col-md-2">用户名:</div>
                                <div class="info-bd col-md-6"><span th:text="${names}"></span></div>
                            </div>
                            <div class="info-item row">
                                <div class="info-label col-md-2">姓名:</div>
                                <div class="info-bd col-md-6"><span th:text="${realname}"></span></div>
                            </div>
                            <div class="info-item row">
                                <div class="info-label col-md-2">性别:</div>
                                <div class="info-bd col-md-6"><span th:text="${types}"></span></div>
                            </div>
                            <div class="info-item row">
                                <div class="info-label col-md-2">证件号:</div>
                                <div class="info-bd col-md-6"><span th:text="${personIds}"></span></div>
                            </div>
                            <div class="info-item row">
                                <div class="info-label col-md-2">联系电话:</div>
                                <div class="info-bd col-md-6"><p th:text="${phonenums}"></p></div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- 3 -->
                <div class="tab-pane tab_menu" id="infomanage">
                    <div class="panel panel-info">
                        <!-- Default panel contents -->
                        <div class="panel-heading" style="height: 60px;">
                            <div style="margin-top: 10px; width: 100px; float: left;">常用乘车信息</div>
                            <button type="button" class="btn btn-success" data-toggle="modal"
                                    data-target="#moreinfo" style="float: right;">新增乘车信息</button>
                        </div>
                        <!-- Table -->
                        <table class="ui compact teal table">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>姓名</th>
                                <th>证件号</th>
                                <th>联系电话</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="type,iterStat : ${page.content}">
                                <td  th:text="${iterStat.count}"></td>
                                <td th:text="${type.name}"></td>
                                <td th:text="${type.personId}"></td>
                                <td th:text="${type.phonenum}"></td>
                                <td>
                                    <a th:href="@{/pcenter/{id}/delete(id=${type.id})}"><button type="button" class="btn btn-danger" >删除</button></a>
                                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#alterinfo"
                                            th:onclick="valuess([[${type.id}]],[[${type.name}]],[[${type.personId}]],[[${type.phonenum}]])">更改</button>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="6" th:if="${page.totalPages}>1">
                                    <div class="ui mini pagination menu" >

                                        <a th:href="@{/pcenter(page=${page.number}-1)}" class=" item" th:unless="${page.first}">上一页</a>
                                        <a th:href="@{/pcenter(page=${page.number}+1)}" class="item" th:unless="${page.last}">下一页</a>
                                    </div>
                                    <!--                                        <a href="#" th:href="@{/pcenter/contact/input}"  class="ui mini right floated teal basic button">新增</a>-->
                                </th>
                            </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
                <!-- tab end -->
            </div>
        </div>
    </div>
</div>
<!-- 新增乘车信息的弹窗 -->
<div class="modal fade" id="moreinfo" tabindex="-1" role="dialog" aria-labelledby="moreinfoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:  #d9edf7;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="moreinfoLabel">新增乘车信息</h4>
            </div>
            <div class="modal-body">
                <form @submit.prevent="addcontactor">
                    <div class="form-group">
                        <label for="contactInputName">姓名</label>
                        <input type="text" class="form-control" id="contactInputName" placeholder="姓名" v-model="addname">
                    </div>
                    <div class="form-group">
                        <label for="contactInputIDNum">身份证号</label>
                        <input type="text" class="form-control" id="contactInputIDNum" placeholder="身份证号" v-model="addpersonid">
                    </div>
                    <div class="form-group">
                        <label for="contactInputPhoneNum">联系电话</label>
                        <input type="text" class="form-control" id="contactInputPhoneNum" placeholder="联系电话" v-model="addphonenum">
                    </div>
                    <button type="submit" class="btn btn-danger">提交</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- 修改乘车信息的弹窗 -->
<div class="modal fade" id="alterinfo" tabindex="-1" role="dialog" aria-labelledby="moreinfoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:  #d9edf7;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="">更改乘车信息</h4>
            </div>
            <div class="modal-body">
                <form @submit.prevent="altercontactor">
                    <div class="form-group">
                        <label for="contactInputName" >序号:</label>
                        <label  id="selectnum" name="selectnum"  style="font-size: 18px" ></label>

                    </div>
                    <div class="form-group">
                        <label for="contactInputName" >姓名:</label><br>
                        <label  id="selectname"  style="font-size: 18px" ></label>
                    </div>
                    <div class="form-group">
                        <label for="contactInputIDNum">身份证号:</label><br>
                        <label  id="selectid" style="font-size: 15px"></label>
                    </div>
                    <div class="form-group">
                        <label for="contactInputPhoneNum">联系电话</label>
                        <input type="text" name="selectphonenum" class="form-control" id="selectphonenum" placeholder="联系电话" >
                    </div>
                    <button type="submit" class="btn btn-danger" >提交</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 编辑个人信息的弹窗 -->
<div class="modal fade" id="myInfoEdit" tabindex="-1" role="dialog" aria-labelledby="myInfoEditLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:  #d9edf7;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myInfoEditLabel">编辑个人信息</h4>
            </div>
            <div class="modal-body">
                <form @submit.prevent="edituinfo">
                    <div class="form-group">
                        <label >用户名:&nbsp;</label>
                        <label  id="editname" name="selectnum"  style="font-size: 18px" ></label>
                    </div>
                    <div class="form-group">
                        <label >姓名:&nbsp;</label>
                        <label  id="editrealname" name="selectnum"  style="font-size: 18px" ></label>
                    </div>
                    <div class="form-group">
                        <label>性别:&nbsp;</label>
                        <label  id="edittype" name="selectnum"  style="font-size: 18px" ></label>
                    </div>
                    <div class="form-group">
                        <label>身份证号:&nbsp;</label>
                        <label  id="editpersonid" name="selectnum"  style="font-size: 18px" ></label>
                    </div>
                    <div class="form-group">
                        <label>联系电话</label>
                        <input type="text" class="form-control" id="editphonenum" placeholder="联系电话" >
                    </div>
                    <button type="submit" class="btn btn-danger">提交</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
<!--<script src="/webjars/axios/0.19.0/dist/axios.min.js"></script>
<script src="/webjars/vue/2.6.11/vue.min.js"></script>-->
<script>
    new Vue({
        el:'#moreinfo',
        data(){
            return{
                addname:null,
                addpersonid:null,
                addphonenum:null,
            }
        },
        methods:{
            addcontactor:function () {
                var test=window.location.href;
                var formdata=new FormData();
                formdata.append("name",this.addname);
                formdata.append("personid",this.addpersonid);
                formdata.append("phonenum",this.addphonenum);
                axios
                    .post("/pcenter/addcontactor",formdata)
                    .then(response => {
                        if(String(response.data)=='success'){
                            window.location=test;

                        }
                        else {
                            alert("上传失败");
                        }
                    })
            }
        }
    })
    new Vue({
        el:'#alterinfo',
        methods:{
            altercontactor:function () {
                var info1=$("#selectphonenum").val();
                var info2=$('#selectnum').text();
                var test=window.location.href;
                var formdata=new FormData();
                formdata.append("num",info2);
                formdata.append("phonenum",info1);
                axios
                    .post("/pcenter/altercontactor",formdata)
                    .then(response => {
                        if(String(response.data)=='success'){
                            window.location=test;

                        }
                        else {
                            alert("上传失败");
                        }
                    })
            }
        }
    })
    new Vue({
        el:'#myInfoEdit',
        methods:{
            edituinfo:function () {
                var name1=$("#editname").text();
                var phonenum=$("#editphonenum").val();
                var hrf=window.location.href;
                var formdata=new FormData();
                formdata.append("editname",name1);
                formdata.append("editphonenum",phonenum);
                axios
                    .post("/pcenter/editinfo",formdata)
                    .then(response=>{
                        if(String(response.data)=='success'){
                            window.location=hrf;
                        }
                        else {
                            alert("上传失败");}
                        })
            }
        }
    })
/*    new Vue({
        el:'#ordermanage',
        data(){
            return{
                ordernotpay:null,
            }
        },
        mounted(){
           this.order_notpay();
        },
        methods:{
            order_notpay:function () {
                axios
                    .get("/pcenter/ordernotpay")
                    .then(response => (this.ordernotpay=response.data))
            }
        }
    })*/
</script>
<script type="text/javascript">
     function valuess(ids,names,peronids,phonenums) {
        $("#selectname").text(names);
        $("#selectid").text(peronids);
        $("#selectphonenum").val(phonenums);
        $("#selectnum").text(ids);
        //console.log( $("#selectnum").text());
     }
    function editinfo(names,realnames,type,personids,phonenums) {
        $("#editname").text(names);
        $("#editrealname").text(realnames);
        $("#edittype").text(type);
        $("#editpersonid").text(personids);
        $("#editphonenum").val(phonenums);
    }
</script>
<script type="text/javascript">
    $(".tab-title li").click(function () {
        $(this).addClass('active').siblings().removeClass('active');
        $(".tab_menu").eq($(this).index()).show().siblings(".tab_menu").hide();
        var getpicknum=$(this).index();
        sessionStorage.setItem("num",getpicknum);

    })
   $(".tab-sectitle li").click(function () {
        $(this).addClass('active').siblings().removeClass('active');
        $(".tab_secmenu").eq($(this).index()).show().siblings(".tab_secmenu").hide();
        var getsecond=$(this).index();
        sessionStorage.setItem("secnum",getsecond);
    })
    $(function () {
        var getnum=sessionStorage.getItem("num");
        var getnum2=sessionStorage.getItem("secnum");
        $(".tab-title li").eq(getnum).addClass('active').siblings().removeClass('active');
        $(".tab-sectitle li").eq(getnum2).addClass('active').siblings().removeClass('active');
        $(".tab_cont>div").eq(getnum).show().siblings("tab_menu").hide();
        $(".tab_seccont>div").eq(getnum2).show().siblings("tab_secmenu").hide();
    })
</script>
<script type="text/javascript">
    $(function () {
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
        $('#divstyletab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    })
</script>
<script type="text/javascript">
    function logout() {
        var url="/admin/logout";
        var urlatnow=window.location.href;
        $.post(url,null,function () {
            window.location=urlatnow;
        });
    }
    function listinfo() {
        var info1=$("#selectname").text();
        var info2=$("#selectid").text();
        var info3=$("#selectphonenum").val();
        var info4=$('#selectnum').text();
        console.log(info1+" "+info2+" "+info3+" "+info4);
    }
</script>

<style>
    .main-tap {
        margin-top: 50px;
    }

    #tableft ul {
        flex-direction: row;
        justify-content: center;
    }

    #tableft ul li {
        float: left;
        list-style: none;
        margin-left: 100px;
        margin-top: 30px;
    }

    .info-item {
        margin: 10px 0px 10px 100px;
    }
</style>
</body>

</html>